.swal-button {
  background-color: $color-info-bar-success;
  color: $color-primary-text;
  border: $display-none;
  box-shadow: $display-none;
  border-radius: 5px;
  font-weight: $font-weight-600;
  font-size: $font-font-size-14;
  padding: 10px 24px;
  margin: 0;
  width: 190px;
  cursor: pointer;
  &:focus, &:hover, &:active {
    outline: $display-none;
    box-shadow: $display-inherit;
  }
}

.swal-title {
  color: $color-title-modal;
  margin-bottom: 40px;
}

.swal-text {
  font-size: $font-font-size-18;
  color: $color-subtitle-modal;
  font-weight: $font-weight-600;
}
