.arrow-left {
	position: absolute;
	text-align: left;
	padding-top: 6px;
	padding-left: 14px;
	right: 110px;
	bottom: 26px;
	width: 50px;
	height: 28px;
	background: #145777 !important;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	i {
		cursor: pointer;
	}
}

.arrow-right {
	position: absolute;
	text-align: right;
	padding-top: 6px;
	padding-right: 16px;
	right: 70px;
	bottom: 26px;
	width: 50px;
	height: 28px;
	background: #145777 !important;
	i {
		cursor: pointer;
	}
}

