@font-face {
	font-family: 'Open Sans';
	src:  url('../fonts/OpenSans-Light.ttf');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src:  url('../fonts/OpenSans-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src:  url('../fonts/OpenSans-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src:  url('../fonts/OpenSans-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src:  url('../fonts/OpenSans-ExtraBold.ttf');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src:  url('../fonts/OpenSans-ExtraBoldItalic.ttf');
	font-weight: 800;
	font-style: italic;
}
